@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-color: #141414;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1f1f1f;
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

a:hover {
    color: #8209e5;
}

.main {
    /* Centers the stuff remove if you dont want*/
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.intro-box {
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    transition: transform .2s;
    font-family: 'Comic Sans MS';
}

.intro-box:hover {
    color: #8209e5;
    transform: scale(1.5);
}

.hrline {
    width: auto;
    background-color: pink;
    border: none;
    height: 10px;
}

.footer {
    /* Centers the stuff remove if you dont want*/
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}